
[Desktop Entry]
Exec=mattermost-chromium %u
Type=Application
Icon=chromium-browser
Name=I2P Mattermost(Chromium)
GenericName=I2P Mattermost(Chromium)
Comment=I2P Mattermost(Chromium)
Categories=Network;
X-KDE-StartupNotify=false
Keywords=browser;privacy;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
